{
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "tabSize": 2,
  "semi": false,
  "singleQuote": true,
  "semicolons":false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLin": false,
  "arrowParens": "always",
  "rangeStart": 0,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve"
}
